In [65]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [66]:
data = pd.read_csv("credit_score_dataset_final.csv")

In [67]:
data

,Income,Age Group,City Tier,Number of Dependents,Debts,Education,Assets,Insurance Status,Credit Score (Normalized)
0,"₹12,00,001 – ₹25,00,000",Above 65,Tier 3,5,"₹1,00,001 – ₹5,00,000",Masters,"Above ₹1,00,00,000",No missed payments,723
1,"₹6,00,001 – ₹12,00,000",26–35,Tier 2,0,"₹10,00,001 – ₹25,00,000",Masters,"₹2,00,000 – ₹10,00,000",1–2 late payments,627
2,"Below ₹3,00,000",Above 65,Tier 3,0,"₹10,00,001 – ₹25,00,000",Bachelors,"Below ₹2,00,000",No missed payments,518
3,"Above ₹25,00,000",Above 65,Tier 2,4,"₹5,00,001 – ₹10,00,000",Diploma,"Below ₹2,00,000",More than 2 missed payments,518
4,"₹6,00,001 – ₹12,00,000",18–25,Tier 1,6,"₹1,00,001 – ₹5,00,000",High School,"Below ₹2,00,000",No missed payments,545
...,...,...,...,...,...,...,...,...,...
4995,"₹12,00,001 – ₹25,00,000",18–25,Tier 2,2,"₹1,00,001 – ₹5,00,000",PhD,"₹2,00,000 – ₹10,00,000",More than 2 missed payments,655
4996,"Below ₹3,00,000",Above 65,Tier 2,5,"Below ₹1,00,000",Masters,"₹10,00,001 – ₹50,00,000",More than 2 missed payments,559
4997,"₹12,00,001 – ₹25,00,000",18–25,Tier 3,0,"Above ₹25,00,000",Bachelors,"₹50,00,001 – ₹1,00,00,000",No missed payments,655
4998,"Above ₹25,00,000",51–65,Tier 3,5,"Below ₹1,00,000",Masters,"₹50,00,001 – ₹1,00,00,000",1–2 late payments,723
4999,"₹12,00,001 – ₹25,00,000",51–65,Tier 2,6,"Below ₹1,00,000",Diploma,"₹2,00,000 – ₹10,00,000",No missed payments,655

In [68]:
data

,Income,Age Group,City Tier,Number of Dependents,Debts,Education,Assets,Insurance Status,Credit Score (Normalized)
0,"₹12,00,001 – ₹25,00,000",Above 65,Tier 3,5,"₹1,00,001 – ₹5,00,000",Masters,"Above ₹1,00,00,000",No missed payments,723
1,"₹6,00,001 – ₹12,00,000",26–35,Tier 2,0,"₹10,00,001 – ₹25,00,000",Masters,"₹2,00,000 – ₹10,00,000",1–2 late payments,627
2,"Below ₹3,00,000",Above 65,Tier 3,0,"₹10,00,001 – ₹25,00,000",Bachelors,"Below ₹2,00,000",No missed payments,518
3,"Above ₹25,00,000",Above 65,Tier 2,4,"₹5,00,001 – ₹10,00,000",Diploma,"Below ₹2,00,000",More than 2 missed payments,518
4,"₹6,00,001 – ₹12,00,000",18–25,Tier 1,6,"₹1,00,001 – ₹5,00,000",High School,"Below ₹2,00,000",No missed payments,545
...,...,...,...,...,...,...,...,...,...
4995,"₹12,00,001 – ₹25,00,000",18–25,Tier 2,2,"₹1,00,001 – ₹5,00,000",PhD,"₹2,00,000 – ₹10,00,000",More than 2 missed payments,655
4996,"Below ₹3,00,000",Above 65,Tier 2,5,"Below ₹1,00,000",Masters,"₹10,00,001 – ₹50,00,000",More than 2 missed payments,559
4997,"₹12,00,001 – ₹25,00,000",18–25,Tier 3,0,"Above ₹25,00,000",Bachelors,"₹50,00,001 – ₹1,00,00,000",No missed payments,655
4998,"Above ₹25,00,000",51–65,Tier 3,5,"Below ₹1,00,000",Masters,"₹50,00,001 – ₹1,00,00,000",1–2 late payments,723
4999,"₹12,00,001 – ₹25,00,000",51–65,Tier 2,6,"Below ₹1,00,000",Diploma,"₹2,00,000 – ₹10,00,000",No missed payments,655

# Assigning a value to each feature

In [69]:
income_mapping = {
    'Below ₹3,00,000': 300,
    '₹3,00,001 – ₹6,00,000': 400,
    '₹6,00,001 – ₹12,00,000': 500,
    '₹12,00,001 – ₹25,00,000': 600,
    'Above ₹25,00,000': 700
}

In [70]:
data['Income_lvl']=data['Income'].map(income_mapping)

In [71]:
data

,Income,Age Group,City Tier,Number of Dependents,Debts,Education,Assets,Insurance Status,Credit Score (Normalized),Income_lvl
0,"₹12,00,001 – ₹25,00,000",Above 65,Tier 3,5,"₹1,00,001 – ₹5,00,000",Masters,"Above ₹1,00,00,000",No missed payments,723,600
1,"₹6,00,001 – ₹12,00,000",26–35,Tier 2,0,"₹10,00,001 – ₹25,00,000",Masters,"₹2,00,000 – ₹10,00,000",1–2 late payments,627,500
2,"Below ₹3,00,000",Above 65,Tier 3,0,"₹10,00,001 – ₹25,00,000",Bachelors,"Below ₹2,00,000",No missed payments,518,300
3,"Above ₹25,00,000",Above 65,Tier 2,4,"₹5,00,001 – ₹10,00,000",Diploma,"Below ₹2,00,000",More than 2 missed payments,518,700
4,"₹6,00,001 – ₹12,00,000",18–25,Tier 1,6,"₹1,00,001 – ₹5,00,000",High School,"Below ₹2,00,000",No missed payments,545,500
...,...,...,...,...,...,...,...,...,...,...
4995,"₹12,00,001 – ₹25,00,000",18–25,Tier 2,2,"₹1,00,001 – ₹5,00,000",PhD,"₹2,00,000 – ₹10,00,000",More than 2 missed payments,655,600
4996,"Below ₹3,00,000",Above 65,Tier 2,5,"Below ₹1,00,000",Masters,"₹10,00,001 – ₹50,00,000",More than 2 missed payments,559,300
4997,"₹12,00,001 – ₹25,00,000",18–25,Tier 3,0,"Above ₹25,00,000",Bachelors,"₹50,00,001 – ₹1,00,00,000",No missed payments,655,600
4998,"Above ₹25,00,000",51–65,Tier 3,5,"Below ₹1,00,000",Masters,"₹50,00,001 – ₹1,00,00,000",1–2 late payments,723,700
4999,"₹12,00,001 – ₹25,00,000",51–65,Tier 2,6,"Below ₹1,00,000",Diploma,"₹2,00,000 – ₹10,00,000",No missed payments,655,600

In [72]:
age_group_mapping = {
    '18–25': 300,
    '26–35': 400,
    '36–50': 500,
    '51–65': 400,
    'Above 65': 300
}

In [73]:
data['Age_lvl']=data['Age Group'].map(age_group_mapping)

In [74]:
data

,Income,Age Group,City Tier,Number of Dependents,Debts,Education,Assets,Insurance Status,Credit Score (Normalized),Income_lvl,Age_lvl
0,"₹12,00,001 – ₹25,00,000",Above 65,Tier 3,5,"₹1,00,001 – ₹5,00,000",Masters,"Above ₹1,00,00,000",No missed payments,723,600,300
1,"₹6,00,001 – ₹12,00,000",26–35,Tier 2,0,"₹10,00,001 – ₹25,00,000",Masters,"₹2,00,000 – ₹10,00,000",1–2 late payments,627,500,400
2,"Below ₹3,00,000",Above 65,Tier 3,0,"₹10,00,001 – ₹25,00,000",Bachelors,"Below ₹2,00,000",No missed payments,518,300,300
3,"Above ₹25,00,000",Above 65,Tier 2,4,"₹5,00,001 – ₹10,00,000",Diploma,"Below ₹2,00,000",More than 2 missed payments,518,700,300
4,"₹6,00,001 – ₹12,00,000",18–25,Tier 1,6,"₹1,00,001 – ₹5,00,000",High School,"Below ₹2,00,000",No missed payments,545,500,300
...,...,...,...,...,...,...,...,...,...,...,...
4995,"₹12,00,001 – ₹25,00,000",18–25,Tier 2,2,"₹1,00,001 – ₹5,00,000",PhD,"₹2,00,000 – ₹10,00,000",More than 2 missed payments,655,600,300
4996,"Below ₹3,00,000",Above 65,Tier 2,5,"Below ₹1,00,000",Masters,"₹10,00,001 – ₹50,00,000",More than 2 missed payments,559,300,300
4997,"₹12,00,001 – ₹25,00,000",18–25,Tier 3,0,"Above ₹25,00,000",Bachelors,"₹50,00,001 – ₹1,00,00,000",No missed payments,655,600,300
4998,"Above ₹25,00,000",51–65,Tier 3,5,"Below ₹1,00,000",Masters,"₹50,00,001 – ₹1,00,00,000",1–2 late payments,723,700,400
4999,"₹12,00,001 – ₹25,00,000",51–65,Tier 2,6,"Below ₹1,00,000",Diploma,"₹2,00,000 – ₹10,00,000",No missed payments,655,600,400

In [75]:
dependents_mapping = {
    0: 600,
    1: 550,
    2: 500,
    3: 450,
    4: 400,
    5: 350,
    6: 300
}

In [76]:
data['Dep_lvl']=data['Number of Dependents'].map(dependents_mapping)

In [77]:
data

,Income,Age Group,City Tier,Number of Dependents,Debts,Education,Assets,Insurance Status,Credit Score (Normalized),Income_lvl,Age_lvl,Dep_lvl
0,"₹12,00,001 – ₹25,00,000",Above 65,Tier 3,5,"₹1,00,001 – ₹5,00,000",Masters,"Above ₹1,00,00,000",No missed payments,723,600,300,350
1,"₹6,00,001 – ₹12,00,000",26–35,Tier 2,0,"₹10,00,001 – ₹25,00,000",Masters,"₹2,00,000 – ₹10,00,000",1–2 late payments,627,500,400,600
2,"Below ₹3,00,000",Above 65,Tier 3,0,"₹10,00,001 – ₹25,00,000",Bachelors,"Below ₹2,00,000",No missed payments,518,300,300,600
3,"Above ₹25,00,000",Above 65,Tier 2,4,"₹5,00,001 – ₹10,00,000",Diploma,"Below ₹2,00,000",More than 2 missed payments,518,700,300,400
4,"₹6,00,001 – ₹12,00,000",18–25,Tier 1,6,"₹1,00,001 – ₹5,00,000",High School,"Below ₹2,00,000",No missed payments,545,500,300,300
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,"₹12,00,001 – ₹25,00,000",18–25,Tier 2,2,"₹1,00,001 – ₹5,00,000",PhD,"₹2,00,000 – ₹10,00,000",More than 2 missed payments,655,600,300,500
4996,"Below ₹3,00,000",Above 65,Tier 2,5,"Below ₹1,00,000",Masters,"₹10,00,001 – ₹50,00,000",More than 2 missed payments,559,300,300,350
4997,"₹12,00,001 – ₹25,00,000",18–25,Tier 3,0,"Above ₹25,00,000",Bachelors,"₹50,00,001 – ₹1,00,00,000",No missed payments,655,600,300,600
4998,"Above ₹25,00,000",51–65,Tier 3,5,"Below ₹1,00,000",Masters,"₹50,00,001 – ₹1,00,00,000",1–2 late payments,723,700,400,350
4999,"₹12,00,001 – ₹25,00,000",51–65,Tier 2,6,"Below ₹1,00,000",Diploma,"₹2,00,000 – ₹10,00,000",No missed payments,655,600,400,300

In [78]:
debts_mapping = {
    'Below ₹1,00,000': 700,
    '₹1,00,001 – ₹5,00,000': 600,
    '₹5,00,001 – ₹10,00,000': 500,
    '₹10,00,001 – ₹25,00,000': 400,
    'Above ₹25,00,000': 300
}

In [79]:
data['Debts_lvl']=data['Debts'].map(debts_mapping)

In [80]:
data

,Income,Age Group,City Tier,Number of Dependents,Debts,Education,Assets,Insurance Status,Credit Score (Normalized),Income_lvl,Age_lvl,Dep_lvl,Debts_lvl
0,"₹12,00,001 – ₹25,00,000",Above 65,Tier 3,5,"₹1,00,001 – ₹5,00,000",Masters,"Above ₹1,00,00,000",No missed payments,723,600,300,350,600
1,"₹6,00,001 – ₹12,00,000",26–35,Tier 2,0,"₹10,00,001 – ₹25,00,000",Masters,"₹2,00,000 – ₹10,00,000",1–2 late payments,627,500,400,600,400
2,"Below ₹3,00,000",Above 65,Tier 3,0,"₹10,00,001 – ₹25,00,000",Bachelors,"Below ₹2,00,000",No missed payments,518,300,300,600,400
3,"Above ₹25,00,000",Above 65,Tier 2,4,"₹5,00,001 – ₹10,00,000",Diploma,"Below ₹2,00,000",More than 2 missed payments,518,700,300,400,500
4,"₹6,00,001 – ₹12,00,000",18–25,Tier 1,6,"₹1,00,001 – ₹5,00,000",High School,"Below ₹2,00,000",No missed payments,545,500,300,300,600
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,"₹12,00,001 – ₹25,00,000",18–25,Tier 2,2,"₹1,00,001 – ₹5,00,000",PhD,"₹2,00,000 – ₹10,00,000",More than 2 missed payments,655,600,300,500,600
4996,"Below ₹3,00,000",Above 65,Tier 2,5,"Below ₹1,00,000",Masters,"₹10,00,001 – ₹50,00,000",More than 2 missed payments,559,300,300,350,700
4997,"₹12,00,001 – ₹25,00,000",18–25,Tier 3,0,"Above ₹25,00,000",Bachelors,"₹50,00,001 – ₹1,00,00,000",No missed payments,655,600,300,600,300
4998,"Above ₹25,00,000",51–65,Tier 3,5,"Below ₹1,00,000",Masters,"₹50,00,001 – ₹1,00,00,000",1–2 late payments,723,700,400,350,700
4999,"₹12,00,001 – ₹25,00,000",51–65,Tier 2,6,"Below ₹1,00,000",Diploma,"₹2,00,000 – ₹10,00,000",No missed payments,655,600,400,300,700

In [81]:
education_mapping = {
    'High School': 300,
    'Diploma': 400,
    'Bachelors': 500,
    'Masters': 600,
    'PhD': 700
}

In [82]:
data['Educ_lvl']=data['Education'].map(education_mapping)

In [83]:
data

,Income,Age Group,City Tier,Number of Dependents,Debts,Education,Assets,Insurance Status,Credit Score (Normalized),Income_lvl,Age_lvl,Dep_lvl,Debts_lvl,Educ_lvl
0,"₹12,00,001 – ₹25,00,000",Above 65,Tier 3,5,"₹1,00,001 – ₹5,00,000",Masters,"Above ₹1,00,00,000",No missed payments,723,600,300,350,600,600
1,"₹6,00,001 – ₹12,00,000",26–35,Tier 2,0,"₹10,00,001 – ₹25,00,000",Masters,"₹2,00,000 – ₹10,00,000",1–2 late payments,627,500,400,600,400,600
2,"Below ₹3,00,000",Above 65,Tier 3,0,"₹10,00,001 – ₹25,00,000",Bachelors,"Below ₹2,00,000",No missed payments,518,300,300,600,400,500
3,"Above ₹25,00,000",Above 65,Tier 2,4,"₹5,00,001 – ₹10,00,000",Diploma,"Below ₹2,00,000",More than 2 missed payments,518,700,300,400,500,400
4,"₹6,00,001 – ₹12,00,000",18–25,Tier 1,6,"₹1,00,001 – ₹5,00,000",High School,"Below ₹2,00,000",No missed payments,545,500,300,300,600,300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,"₹12,00,001 – ₹25,00,000",18–25,Tier 2,2,"₹1,00,001 – ₹5,00,000",PhD,"₹2,00,000 – ₹10,00,000",More than 2 missed payments,655,600,300,500,600,700
4996,"Below ₹3,00,000",Above 65,Tier 2,5,"Below ₹1,00,000",Masters,"₹10,00,001 – ₹50,00,000",More than 2 missed payments,559,300,300,350,700,600
4997,"₹12,00,001 – ₹25,00,000",18–25,Tier 3,0,"Above ₹25,00,000",Bachelors,"₹50,00,001 – ₹1,00,00,000",No missed payments,655,600,300,600,300,500
4998,"Above ₹25,00,000",51–65,Tier 3,5,"Below ₹1,00,000",Masters,"₹50,00,001 – ₹1,00,00,000",1–2 late payments,723,700,400,350,700,600
4999,"₹12,00,001 – ₹25,00,000",51–65,Tier 2,6,"Below ₹1,00,000",Diploma,"₹2,00,000 – ₹10,00,000",No missed payments,655,600,400,300,700,400

In [84]:
assets_mapping = {
    'Below ₹2,00,000': 300,
    '₹2,00,000 – ₹10,00,000': 400,
    '₹10,00,001 – ₹50,00,000': 500,
    '₹50,00,001 – ₹1,00,00,000': 600,
    'Above ₹1,00,00,000': 700
}

In [85]:
data['Assets_lvl']=data['Assets'].map(assets_mapping)

In [86]:
data

,Income,Age Group,City Tier,Number of Dependents,Debts,Education,Assets,Insurance Status,Credit Score (Normalized),Income_lvl,Age_lvl,Dep_lvl,Debts_lvl,Educ_lvl,Assets_lvl
0,"₹12,00,001 – ₹25,00,000",Above 65,Tier 3,5,"₹1,00,001 – ₹5,00,000",Masters,"Above ₹1,00,00,000",No missed payments,723,600,300,350,600,600,700
1,"₹6,00,001 – ₹12,00,000",26–35,Tier 2,0,"₹10,00,001 – ₹25,00,000",Masters,"₹2,00,000 – ₹10,00,000",1–2 late payments,627,500,400,600,400,600,400
2,"Below ₹3,00,000",Above 65,Tier 3,0,"₹10,00,001 – ₹25,00,000",Bachelors,"Below ₹2,00,000",No missed payments,518,300,300,600,400,500,300
3,"Above ₹25,00,000",Above 65,Tier 2,4,"₹5,00,001 – ₹10,00,000",Diploma,"Below ₹2,00,000",More than 2 missed payments,518,700,300,400,500,400,300
4,"₹6,00,001 – ₹12,00,000",18–25,Tier 1,6,"₹1,00,001 – ₹5,00,000",High School,"Below ₹2,00,000",No missed payments,545,500,300,300,600,300,300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,"₹12,00,001 – ₹25,00,000",18–25,Tier 2,2,"₹1,00,001 – ₹5,00,000",PhD,"₹2,00,000 – ₹10,00,000",More than 2 missed payments,655,600,300,500,600,700,400
4996,"Below ₹3,00,000",Above 65,Tier 2,5,"Below ₹1,00,000",Masters,"₹10,00,001 – ₹50,00,000",More than 2 missed payments,559,300,300,350,700,600,500
4997,"₹12,00,001 – ₹25,00,000",18–25,Tier 3,0,"Above ₹25,00,000",Bachelors,"₹50,00,001 – ₹1,00,00,000",No missed payments,655,600,300,600,300,500,600
4998,"Above ₹25,00,000",51–65,Tier 3,5,"Below ₹1,00,000",Masters,"₹50,00,001 – ₹1,00,00,000",1–2 late payments,723,700,400,350,700,600,600
4999,"₹12,00,001 – ₹25,00,000",51–65,Tier 2,6,"Below ₹1,00,000",Diploma,"₹2,00,000 – ₹10,00,000",No missed payments,655,600,400,300,700,400,400

In [87]:
insurance_mapping = {
    'No missed payments': 600,
    '1–2 late payments': 400,
    'More than 2 missed payments': 300
}

In [88]:
data['Insur_lvl']=data['Insurance Status'].map(insurance_mapping)

In [89]:
data

,Income,Age Group,City Tier,Number of Dependents,Debts,Education,Assets,Insurance Status,Credit Score (Normalized),Income_lvl,Age_lvl,Dep_lvl,Debts_lvl,Educ_lvl,Assets_lvl,Insur_lvl
0,"₹12,00,001 – ₹25,00,000",Above 65,Tier 3,5,"₹1,00,001 – ₹5,00,000",Masters,"Above ₹1,00,00,000",No missed payments,723,600,300,350,600,600,700,600
1,"₹6,00,001 – ₹12,00,000",26–35,Tier 2,0,"₹10,00,001 – ₹25,00,000",Masters,"₹2,00,000 – ₹10,00,000",1–2 late payments,627,500,400,600,400,600,400,400
2,"Below ₹3,00,000",Above 65,Tier 3,0,"₹10,00,001 – ₹25,00,000",Bachelors,"Below ₹2,00,000",No missed payments,518,300,300,600,400,500,300,600
3,"Above ₹25,00,000",Above 65,Tier 2,4,"₹5,00,001 – ₹10,00,000",Diploma,"Below ₹2,00,000",More than 2 missed payments,518,700,300,400,500,400,300,300
4,"₹6,00,001 – ₹12,00,000",18–25,Tier 1,6,"₹1,00,001 – ₹5,00,000",High School,"Below ₹2,00,000",No missed payments,545,500,300,300,600,300,300,600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,"₹12,00,001 – ₹25,00,000",18–25,Tier 2,2,"₹1,00,001 – ₹5,00,000",PhD,"₹2,00,000 – ₹10,00,000",More than 2 missed payments,655,600,300,500,600,700,400,300
4996,"Below ₹3,00,000",Above 65,Tier 2,5,"Below ₹1,00,000",Masters,"₹10,00,001 – ₹50,00,000",More than 2 missed payments,559,300,300,350,700,600,500,300
4997,"₹12,00,001 – ₹25,00,000",18–25,Tier 3,0,"Above ₹25,00,000",Bachelors,"₹50,00,001 – ₹1,00,00,000",No missed payments,655,600,300,600,300,500,600,600
4998,"Above ₹25,00,000",51–65,Tier 3,5,"Below ₹1,00,000",Masters,"₹50,00,001 – ₹1,00,00,000",1–2 late payments,723,700,400,350,700,600,600,400
4999,"₹12,00,001 – ₹25,00,000",51–65,Tier 2,6,"Below ₹1,00,000",Diploma,"₹2,00,000 – ₹10,00,000",No missed payments,655,600,400,300,700,400,400,600

# Splitting the data into 2 groups training and testing

In [90]:
train_size=int(0.6*len(data))

In [91]:
train_data=data[:train_size]

In [92]:
test_data=data[train_size:]

In [93]:
train_data

,Income,Age Group,City Tier,Number of Dependents,Debts,Education,Assets,Insurance Status,Credit Score (Normalized),Income_lvl,Age_lvl,Dep_lvl,Debts_lvl,Educ_lvl,Assets_lvl,Insur_lvl
0,"₹12,00,001 – ₹25,00,000",Above 65,Tier 3,5,"₹1,00,001 – ₹5,00,000",Masters,"Above ₹1,00,00,000",No missed payments,723,600,300,350,600,600,700,600
1,"₹6,00,001 – ₹12,00,000",26–35,Tier 2,0,"₹10,00,001 – ₹25,00,000",Masters,"₹2,00,000 – ₹10,00,000",1–2 late payments,627,500,400,600,400,600,400,400
2,"Below ₹3,00,000",Above 65,Tier 3,0,"₹10,00,001 – ₹25,00,000",Bachelors,"Below ₹2,00,000",No missed payments,518,300,300,600,400,500,300,600
3,"Above ₹25,00,000",Above 65,Tier 2,4,"₹5,00,001 – ₹10,00,000",Diploma,"Below ₹2,00,000",More than 2 missed payments,518,700,300,400,500,400,300,300
4,"₹6,00,001 – ₹12,00,000",18–25,Tier 1,6,"₹1,00,001 – ₹5,00,000",High School,"Below ₹2,00,000",No missed payments,545,500,300,300,600,300,300,600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,"Above ₹25,00,000",Above 65,Tier 3,3,"₹5,00,001 – ₹10,00,000",Diploma,"Above ₹1,00,00,000",No missed payments,695,700,300,450,500,400,700,600
2996,"Above ₹25,00,000",51–65,Tier 2,3,"Above ₹25,00,000",Bachelors,"Below ₹2,00,000",1–2 late payments,559,700,400,450,300,500,300,400
2997,"Above ₹25,00,000",18–25,Tier 1,6,"Below ₹1,00,000",PhD,"Above ₹1,00,00,000",No missed payments,845,700,300,300,700,700,700,600
2998,"₹6,00,001 – ₹12,00,000",51–65,Tier 1,1,"₹10,00,001 – ₹25,00,000",PhD,"Above ₹1,00,00,000",1–2 late payments,750,500,400,550,400,700,700,400
2999,"Below ₹3,00,000",51–65,Tier 1,6,"Below ₹1,00,000",Bachelors,"₹10,00,001 – ₹50,00,000",No missed payments,655,300,400,300,700,500,500,600

In [94]:
test_data

,Income,Age Group,City Tier,Number of Dependents,Debts,Education,Assets,Insurance Status,Credit Score (Normalized),Income_lvl,Age_lvl,Dep_lvl,Debts_lvl,Educ_lvl,Assets_lvl,Insur_lvl
3000,"₹3,00,001 – ₹6,00,000",36–50,Tier 1,5,"₹5,00,001 – ₹10,00,000",High School,"₹2,00,000 – ₹10,00,000",More than 2 missed payments,505,400,500,350,500,300,400,300
3001,"₹3,00,001 – ₹6,00,000",51–65,Tier 1,2,"Below ₹1,00,000",Bachelors,"Below ₹2,00,000",No missed payments,682,400,400,500,700,500,300,600
3002,"Below ₹3,00,000",26–35,Tier 1,4,"₹5,00,001 – ₹10,00,000",Masters,"₹10,00,001 – ₹50,00,000",No missed payments,655,300,400,400,500,600,500,600
3003,"Below ₹3,00,000",Above 65,Tier 1,3,"₹5,00,001 – ₹10,00,000",PhD,"₹50,00,001 – ₹1,00,00,000",More than 2 missed payments,614,300,300,450,500,700,600,300
3004,"Above ₹25,00,000",Above 65,Tier 2,0,"₹5,00,001 – ₹10,00,000",High School,"Below ₹2,00,000",1–2 late payments,573,700,300,600,500,300,300,400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,"₹12,00,001 – ₹25,00,000",18–25,Tier 2,2,"₹1,00,001 – ₹5,00,000",PhD,"₹2,00,000 – ₹10,00,000",More than 2 missed payments,655,600,300,500,600,700,400,300
4996,"Below ₹3,00,000",Above 65,Tier 2,5,"Below ₹1,00,000",Masters,"₹10,00,001 – ₹50,00,000",More than 2 missed payments,559,300,300,350,700,600,500,300
4997,"₹12,00,001 – ₹25,00,000",18–25,Tier 3,0,"Above ₹25,00,000",Bachelors,"₹50,00,001 – ₹1,00,00,000",No missed payments,655,600,300,600,300,500,600,600
4998,"Above ₹25,00,000",51–65,Tier 3,5,"Below ₹1,00,000",Masters,"₹50,00,001 – ₹1,00,00,000",1–2 late payments,723,700,400,350,700,600,600,400
4999,"₹12,00,001 – ₹25,00,000",51–65,Tier 2,6,"Below ₹1,00,000",Diploma,"₹2,00,000 – ₹10,00,000",No missed payments,655,600,400,300,700,400,400,600

# Scikit Learn Model Training

In [95]:
credit_model=LinearRegression()

In [96]:
credit_model.fit(train_data[['Income_lvl','Age_lvl','Dep_lvl','Debts_lvl','Educ_lvl','Assets_lvl','Insur_lvl']],train_data['Credit Score (Normalized)'])

LinearRegression()

# Predicted Credit Score for random value

In [97]:
credit_model.predict([[400,500,350,500,300,400,300]])

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([477.65436012])

# Predicted Credit Score for test data

In [98]:
test_data['predicted_price']=credit_model.predict(test_data[['Income_lvl','Age_lvl','Dep_lvl','Debts_lvl','Educ_lvl','Assets_lvl','Insur_lvl']])

/var/folders/3g/tk114k6x3wx4dd7016m0r0j40000gn/T/ipykernel_70257/557115255.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['predicted_price']=credit_model.predict(test_data[['Income_lvl','Age_lvl','Dep_lvl','Debts_lvl','Educ_lvl','Assets_lvl','Insur_lvl']])

In [99]:
test_data

,Income,Age Group,City Tier,Number of Dependents,Debts,Education,Assets,Insurance Status,Credit Score (Normalized),Income_lvl,Age_lvl,Dep_lvl,Debts_lvl,Educ_lvl,Assets_lvl,Insur_lvl,predicted_price
3000,"₹3,00,001 – ₹6,00,000",36–50,Tier 1,5,"₹5,00,001 – ₹10,00,000",High School,"₹2,00,000 – ₹10,00,000",More than 2 missed payments,505,400,500,350,500,300,400,300,477.654360
3001,"₹3,00,001 – ₹6,00,000",51–65,Tier 1,2,"Below ₹1,00,000",Bachelors,"Below ₹2,00,000",No missed payments,682,400,400,500,700,500,300,600,653.045456
3002,"Below ₹3,00,000",26–35,Tier 1,4,"₹5,00,001 – ₹10,00,000",Masters,"₹10,00,001 – ₹50,00,000",No missed payments,655,300,400,400,500,600,500,600,628.766491
3003,"Below ₹3,00,000",Above 65,Tier 1,3,"₹5,00,001 – ₹10,00,000",PhD,"₹50,00,001 – ₹1,00,00,000",More than 2 missed payments,614,300,300,450,500,700,600,300,587.861038
3004,"Above ₹25,00,000",Above 65,Tier 2,0,"₹5,00,001 – ₹10,00,000",High School,"Below ₹2,00,000",1–2 late payments,573,700,300,600,500,300,300,400,570.986235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,"₹12,00,001 – ₹25,00,000",18–25,Tier 2,2,"₹1,00,001 – ₹5,00,000",PhD,"₹2,00,000 – ₹10,00,000",More than 2 missed payments,655,600,300,500,600,700,400,300,653.918942
4996,"Below ₹3,00,000",Above 65,Tier 2,5,"Below ₹1,00,000",Masters,"₹10,00,001 – ₹50,00,000",More than 2 missed payments,559,300,300,350,700,600,500,300,557.708943
4997,"₹12,00,001 – ₹25,00,000",18–25,Tier 3,0,"Above ₹25,00,000",Bachelors,"₹50,00,001 – ₹1,00,00,000",No missed payments,655,600,300,600,300,500,600,600,684.088888
4998,"Above ₹25,00,000",51–65,Tier 3,5,"Below ₹1,00,000",Masters,"₹50,00,001 – ₹1,00,00,000",1–2 late payments,723,700,400,350,700,600,600,400,749.059629
4999,"₹12,00,001 – ₹25,00,000",51–65,Tier 2,6,"Below ₹1,00,000",Diploma,"₹2,00,000 – ₹10,00,000",No missed payments,655,600,400,300,700,400,400,600,652.138715

In [100]:
import math

In [101]:
test_data['predicted_price']=test_data['predicted_price'].astype(int)

/var/folders/3g/tk114k6x3wx4dd7016m0r0j40000gn/T/ipykernel_70257/2700722670.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['predicted_price']=test_data['predicted_price'].astype(int)

In [102]:
test_data

,Income,Age Group,City Tier,Number of Dependents,Debts,Education,Assets,Insurance Status,Credit Score (Normalized),Income_lvl,Age_lvl,Dep_lvl,Debts_lvl,Educ_lvl,Assets_lvl,Insur_lvl,predicted_price
3000,"₹3,00,001 – ₹6,00,000",36–50,Tier 1,5,"₹5,00,001 – ₹10,00,000",High School,"₹2,00,000 – ₹10,00,000",More than 2 missed payments,505,400,500,350,500,300,400,300,477
3001,"₹3,00,001 – ₹6,00,000",51–65,Tier 1,2,"Below ₹1,00,000",Bachelors,"Below ₹2,00,000",No missed payments,682,400,400,500,700,500,300,600,653
3002,"Below ₹3,00,000",26–35,Tier 1,4,"₹5,00,001 – ₹10,00,000",Masters,"₹10,00,001 – ₹50,00,000",No missed payments,655,300,400,400,500,600,500,600,628
3003,"Below ₹3,00,000",Above 65,Tier 1,3,"₹5,00,001 – ₹10,00,000",PhD,"₹50,00,001 – ₹1,00,00,000",More than 2 missed payments,614,300,300,450,500,700,600,300,587
3004,"Above ₹25,00,000",Above 65,Tier 2,0,"₹5,00,001 – ₹10,00,000",High School,"Below ₹2,00,000",1–2 late payments,573,700,300,600,500,300,300,400,570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,"₹12,00,001 – ₹25,00,000",18–25,Tier 2,2,"₹1,00,001 – ₹5,00,000",PhD,"₹2,00,000 – ₹10,00,000",More than 2 missed payments,655,600,300,500,600,700,400,300,653
4996,"Below ₹3,00,000",Above 65,Tier 2,5,"Below ₹1,00,000",Masters,"₹10,00,001 – ₹50,00,000",More than 2 missed payments,559,300,300,350,700,600,500,300,557
4997,"₹12,00,001 – ₹25,00,000",18–25,Tier 3,0,"Above ₹25,00,000",Bachelors,"₹50,00,001 – ₹1,00,00,000",No missed payments,655,600,300,600,300,500,600,600,684
4998,"Above ₹25,00,000",51–65,Tier 3,5,"Below ₹1,00,000",Masters,"₹50,00,001 – ₹1,00,00,000",1–2 late payments,723,700,400,350,700,600,600,400,749
4999,"₹12,00,001 – ₹25,00,000",51–65,Tier 2,6,"Below ₹1,00,000",Diploma,"₹2,00,000 – ₹10,00,000",No missed payments,655,600,400,300,700,400,400,600,652

# Classification error Calculation

In [103]:
from sklearn.metrics import classification_report

In [105]:
r2 = r2_score(test_data['Credit Score (Normalized)'], test_data['predicted_price'])

In [106]:
print(r2)

0.9451846040244233

In [121]:
credit_model.score(test_data[['Income_lvl','Age_lvl','Dep_lvl','Debts_lvl','Educ_lvl','Assets_lvl','Insur_lvl']],test_data['Credit Score (Normalized)'])

0.9450785280213226

# Saving the Model

In [112]:
from sklearn import externals

In [117]:
import joblib

In [119]:
joblib.dump(credit_model,'credit_score_model')

['credit_score_model']

In [ ]:
f